*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #111;
} 
body{
    font-family: "Noto Sans", sans-serif;
    color: #111;
    background: #ffffff;
}
/*헤더*/
header{
    width: 100%;
    background: #FFF8F1;
    border-bottom: 1px solid #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    transition: opacity 0.8s ease, visibility 0.8s ease;
}
div.top_element_wrap{
    max-width: 1920px;
    width: 100%;
    height: 88px; 
    overflow: hidden;
    margin: 0 auto;
    padding-top: 30px;
    position: relative;
    transition: height 200ms ease-out;
}
/*로고*/
div.logo_container a{
    width: 170px;
    display: block;
    float: left;
    position: relative;
    top: 0;
    left: 30px;
}
.logo_container img{
    width: 100%;
}
/*네비게이션*/
header nav{
    width: 714px;
    float: left;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}
nav ul.mainmwnu_wrap{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Jost", sans-serif;
    font-size: 22px;
    font-weight: 700;
}
ul.mainmwnu_wrap li a{
    transition: color 0.2s;
}
ul.mainmwnu_wrap li a:hover{
    color: #BE653F;
}
div.submenu_wrap{
    width: 100%;
    height: 56px;
    overflow: hidden;
    position: relative;
    display: none;
}
.submenu_wrap > div{
    width: 100%;
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
}
.hide-submenu{  /*스크립트 제어*/
    display: none;
}
.show-submenu{  /*스크립트 제어*/
    display: block;
}
.submenu_wrap > div > ul{
    overflow: hidden;
    clear: both;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.sub-box1 ul{
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
}
div.sub-box2 ul{
    width: 90%;
    margin: 0 auto;
}
div.sub-box4 ul{
    width: 32%;
    margin: 0 auto;
}
.submenu_wrap > div > ul a{
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #585858;
    transition: color 0.2s;
}
.submenu_wrap > div > ul a:hover{
    color: #BE653F;
}
/*로그인/회원가입/검색*/
div.user_account_wrap{
    width: 174px;
    overflow: hidden;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    right: 30px;
}
.user_account_wrap a{
    display: block;
    font-family: "Jost", sans-serif;
    font-size: 14px;
    font-weight: 500;
}
/*메인*/
main{
    padding-top: 118px;
}
/*라이징 트랜드 영역*/
div.rising_trand_sect{
    width: 100%;
    overflow: hidden;
}
.rising_element_wrap{
    max-width: 1494px;
    width: 100%;
    overflow: hidden;
    padding-top: 62px;
    margin: 0 auto;
}
.rising_wrap_Box{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}
.rising_wrap_Box > div{
    width: 50%;
    height: 356px;
    overflow: hidden;
    margin: 22px;
    box-sizing: border-box;
}
.tit_txt_box{
    font-family: "Aref Ruqaa", serif;
    position: relative;
}
.tit_txt_box > h1{
    font-size: 74px;
    font-weight: 400;
    position: relative;
    left: -100%;
    transition: left 0.5s ease-in-out;
}
.tit_txt_box > h1 >span{
    display: block;
    color: #DF0000;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    position: relative;
    top: 30px;
}
.detail_txt{
    width: 70%;
    margin: 50px 0;
    font-size: 38px;
    line-height: 46px;
    position: relative;
    left: -100%;
    transition: left 1s ease-in-out;
}
.rising_img_BR{
    display: flex;
    flex-wrap: row;
    justify-content: space-between;
}
.img_box > a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.img_box > a > img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: transform 0.3s linear;
}
.img_box > a > .imgTitle_box{
    width: 100%;
    height: 64px;
    padding: 0 16px;
    line-height: 64px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000000a4;
    color: #fff;
    font-size: 18px;
}
.img_box > a button{
    width: 100%;
    height: 64px;
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    background: #fff;
    color: #111;
    border: 1px solid #ccc;
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s linear;
}
.img_box:hover img{
    transform: scale(1.1);
}
.img_box:hover button{
    opacity: 1;
}
.rising_img_BR > div{
    width: 50%;
    overflow: hidden;
    box-sizing: border-box;
}
.rising_img_BR > .left_container{
    margin-right: 44px;
}
/*트렌드 아이템 영역*/
section.trend_item_wrap{
    width: 100%;
    overflow: hidden;
    padding-top: 82px;
}
/*타이틀*/
.trend_item_wrap > h1 {
    text-align: center;
    font-size: 64px;
    font-family: "Aref Ruqaa", serif;
    font-weight: 400;
}
.trend_item_wrap > h1 > span{
    display: block;
    color: #DF0000;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
/*필터*/
div.filter_btn_wrap{
    width: 100%;
    margin: 18px 0;
    overflow: hidden;
}
.filter_btn_wrap > div{
    width: 136px;
    overflow: hidden;
    box-sizing: border-box;
    float: right;
    position: relative;
    right: 30px;
}
.filter_btn_wrap > div button{
    padding: 4px 10px;
    border: none;
    background: #f1f1f1;
    color: #111;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
}
.filter_btn_wrap button:first-child ::after{
    content: '|';
    margin: 0 8px;
}
.filter_btn_wrap > div button:hover{
    opacity: 1;
}
/*아이템*/
article{
    width: 100%;
    overflow: hidden;
}
.item_list_wrap{
    width: 1494px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 510px;
    grid-gap: 46px;
}
.item_list{
    width: 100%;
    overflow: hidden;
} 
.list_imge a{
    display: block;
    width: 100%;
    height: 456px;
    overflow: hidden;
    position: relative;
}
.list_imge a img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: transform 0.3s linear;
}
.item_list:hover img{
    transform: scale(1.1);
}
.item_list .list_title a{
    display: block;
    width: 100%;
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
/*아이템 랩핑 박스 스트립트 제어*/
article.boxNone{
    display: none;
}
/*더보기 버튼*/
.moreBox_btn_container{
    width: 100%;
    margin: 80px 0;
    text-align: center;
}
.moreBox_btn_container button{
    padding: 10px 300px;
    border: 1px solid #ccc;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s;
}
.moreBox_btn_container button:hover{
    border: 1px solid #161616;
    background: #161616;
    color: #fff;
}
/*푸터*/
div.follow_box{
    max-width: 1920px;
    width: 100%;
    padding: 30px 0;
    margin: 0 auto;
}
div.contents_wrap{
    width: 1000px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contents_wrap > div{
    width: calc(100% / 3);
    height: 86px;
    line-height: 86px;
    text-align: center;
    box-sizing: border-box;
}
div.followBtn_wrap button{
    padding: 18px 40px;
    border: none;
    background: #fff;
    cursor: pointer;
}
.followBtn_wrap button span{
    position: relative;
    top: 2px;
    right: 0;
}
div.foot_element_wrap{
    width: 100%;
    background: #2A221D;
}
.foot_element_wrap > .footer_top{
    max-width: 1280px;
    width: 100%;
    overflow: hidden;
    padding: 12px 0;
    margin: 0 auto;
}
div.link_txt{
    width: 70%;
    overflow: hidden;
    float: left;
}
.link_txt ul{
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
}
.link_txt a{
    color: #fff;
}
div.foot_snsIcon{
    width: 30%;
    float: left;
}
.foot_snsIcon ul{
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
}
div.footer_bottom{
    width: 100%;
    overflow: hidden;
    padding: 42px 0;
    clear: both;
    border-top: 1px solid #fff;
}
div.footer_bottom_inner{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.footer_bottom_inner .logo_container{
    width: 224px;
    overflow: hidden;
    float: left;
}
.foot_informat{
    float: left;
    position: relative;
    top: 0;
    left: 60px;
    color: #fff;
}
.foot_informat > div{
    font-size: 20px;
}
.foot_informat > ul{
    overflow: hidden;
    margin: 16px 0;
    
}
.foot_informat > ul li{
    float: left;
    font-size: 16px;
    margin: 4px 0;
}
.foot_informat > ul li.clear{
    clear: both;
}
li.afterBar::after{
    content: '|';
    margin: 0 12px;
}
.foot_informat> p{
    clear: both;
}